<%- include('partials/header') %>
<div class="wrapper">
    <h1>About</h1>
    <p><%= content %></p>
    <p>To compose, use the following command on the browser top-bar<b><em>https://bvk-blobpost-app.herokuapp.com/compose</em></b></p>
    <p>Now, enter a suitable Title, and Enter a corresponding Post (say, a copule of sentences, and click on <b>Publish</b> button.</p>
</div>
<%- include('partials/footer') %>